/*!normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css*/
article,
figure,
footer,
header,
nav {
    display: block
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html {
    font-family: sans-serif
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h2 {
    font-size: 1.5em;
    margin: .83em 0
}

h3 {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1em;
    margin: 1.33em 0
}

h5 {
    font-size: .83em;
    margin: 1.67em 0
}

h6 {
    font-size: .75em;
    margin: 2.33em 0
}

b {
    font-weight: 700
}

blockquote {
    margin: 1em 40px
}

p {
    margin: 1em 0
}

code {
    font-family: monospace, serif;
    font-size: 1em
}

q {
    quotes: none
}

q:after,
q:before {
    content: '';
    content: none
}

menu,
ul {
    margin: 1em 0
}

menu,
ul {
    padding: 0 0 0 40px
}

nav ul {
    list-style: none;
    list-style-image: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}